body{
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    color: aliceblue;
    margin:0;
    padding: 0;


}
header{
    height: 10%;
    width: 100%;
    background: yellow;
    padding: 15px;
}
.theme_bar{
    height: 50%;
    width: 50px ;
    margin-top: 0;
    margin-left: 90%;
    background-color: blueviolet;
    display: flex;
    list-style: none;
    padding: 10px;
    border-radius: 75px;
}
.theme{
    height: 100%;
    width: 40%;

}
button{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: none;

}
section{
    margin-top: 5%;
    padding: 20px;
}
h1,h2,h3,ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    font-size: 40px;
   
}



.menu_bar{
    background-color: white;
    display: flex;
    list-style: none;
    padding: 15px;
    border-radius: 75px;
}

.op{
    height: 100%;
    width: 20%;
    margin-left: 10%;
}

a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}
